/* Responsividade */

@media (max-width: 768px) {
  
  .header {
    flex-direction: row;
    justify-content: space-between; /* Alinha a logo à esquerda e o menu à direita */
    align-items: center;
    justify-content: space-between; /* Deixa a logo na esquerda e o menu na direita */
    padding: 10px 20px; /* Ajusta o espaçamento lateral */
    grid-template-columns: 1fr; /* Uma coluna para pequenos dispositivos */
    gap: 20px; /* Espaçamento entre os itens */
  }

  .logo {
    margin-bottom: 0;
  }

  .logo img {
    height: 40px;
  }

  .search-section {
    display: none; /* Esconde a barra de pesquisa */
  }

  /* Menu no mobile */
  .menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    width: 100%;
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease-in-out; /* Transição suave */
    
  }

  /* Quando o menu for ativado */
  .menu.active {
    display: flex;
  }

  /* Menu Hamburguer */
  .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    justify-content: center; /* Centraliza o botão hambúrguer */
    transition: all 0.3s ease-in-out; /* Transição suave */
    align-items: flex-end;
  }

  .menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #620007; /* Cor do menu hambúrguer */
    transition: all 0.3s ease-in-out;
  }

  .menu ul {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: right;
    padding-top: 10px;
  }

  .menu ul li a {
    font-size: 18px;
    padding: 10px 0;
  }
  .close-menu {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px; /* Aumenta o tamanho do botão */
    cursor: pointer;
    color: #9f0726; /* Usa a cor vermelha do seu site */
    background-color: transparent; /* Fundo transparente */
    border: none; /* Remove a borda */
    padding: 5px; /* Adiciona um pequeno padding */
    z-index: 1002; /* Garante que fique acima do menu */
}

.close-menu:hover {
    color: #620007; /* Escurece a cor ao passar o mouse */
}

  /* Social icons */
  .social-icons {
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }
  .social-icons a {
    padding: 0 10px;
  }

  /* Hero section ajustada para telas pequenas */
  .hero-section {
    padding: 30px 20px;
    height: 80vh;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-button {
    padding: 10px 25px;
  }

  .courses-grid {
    grid-template-columns: repeat(2, 1fr); /* Duas colunas em telas menores */
  }

  /* Ajustes adicionais para botões de navegação do carrossel */
  .carousel button {
    padding: 10px;
    font-size: 18px;
  }

  .hero-content-01 h1 {
    font-size: 2.5rem; /* Reduz o tamanho do título */
  }

  .hero-content-01 p {
    font-size: 1.2rem; /* Ajusta o tamanho do parágrafo */
  }

  .hero-button-01 {
    font-size: 1rem; /* Reduz o tamanho do botão */
    padding: 8px 16px;
  }
  
  .course-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
  }

  .course-text,
  .course-benefits {
      width: 100%;
  }
  
}

@media (max-width: 480px) {
  .footer-section {
    padding: 10px;
  }
  
  .header {
    flex-direction: row;
    justify-content: space-between; /* Mantém a logo à esquerda e menu à direita */
    align-items: center;
  }
  
  .menu {
    right: 0;
  }
}
