/* styles.css */
body {
  margin: 0;
  font-family: "Runalto", sans-serif;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  background-image: url("/src/img/banner.jpg");
  background-size: cover; /* Ajusta a imagem de fundo para cobrir toda a área */
  background-position: center; /* Centraliza a imagem de fundo */
  background-repeat: no-repeat; /* Garante que a imagem não se repita */
  background-attachment: fixed; /* Fixa a imagem de fundo ao rolar a página */
  color: #ffffff;
  height: 100vh; /* Altura da seção ocupa toda a altura da janela */
  line-height: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}


.hero-content {
  max-width: 800px;
}

.hero-content h1 {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1rem;
  line-height: 2;
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.hero-button:hover {
  background-color: #fff;
  color: #9f0726;
}


.training-courses {
  padding: 20px;
  background-color: #fff;
  color: #9f0726; /* Cor do título */
}

.training-courses h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: left; /* Alinhamento do título à esqueda */
  margin-right: 20px; /* Espaço entre o título e o grid */
  padding-left: 20px;
}
.courses-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Quatro colunas */
  gap: 20px;
  padding: 0 20px;
}

.course-item {
  text-align: center;
  background-color: #fefefe;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.course-item p {
  font-size: 16px;
  color: #333;
}

.course-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.testimonials {
  background-color: #9f0726;
  color: #fff;
  text-align: center;
  padding: 80px 50px; /* Reduzi o padding geral */
}

.testimonials h1 {
  font-size: 24px;
  margin-bottom: 5px; /* Menor espaço entre o título e o subtítulo */
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 2px;
}

.testimonials h2 {
  font-size: 20px;
  text-align: left;
  font-weight: lighter;
  margin-bottom: 50px; /* Menor espaço após o subtítulo */
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-container {
  display: flex;
  overflow: hidden;
  width: 80%;
  scroll-behavior: smooth;
}

.testimonial-card {
  flex: 0 0 27.27%; /* Ajuste para 3 cards visíveis */
  max-width: 33.33%;
  background-color: #fff;
  color: #333;
  border-radius: 25px;
  margin: 0 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.testimonial-card img {
  max-width: 30px;
  margin-bottom: 10px;
  margin-left: 120px;
}

.testimonial-card p {
  font-size: 14px;
  line-height: 1.5;
}

.author {
  display: flex;
  align-items: center;
  gap: 15px; /* Cria espaço proporcional entre os elementos */
  margin-top: 10px;
}

.author img {
  border-radius: 50%;
  width: 60px; /* Tamanho mais razoável para uma imagem de perfil */
  height: 30px; /* Garante que a imagem seja sempre quadrada */
  margin-left: 0; /* Remove margens laterais desnecessárias */
}

.author span {
  font-size: 14px;
  font-weight: bold; /* Dá destaque ao nome do autor */
}

.author small {
  color: #666;
  font-size: 12px;
}
button-1.prev,
button-1.next {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

button-1.prev {
  left: 5%;
}

button-1.next {
  right: 5%;
}

button-1:hover {
  background-color: #ffffff4f;
}

.hero-section-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/src/img/banner 1.jpg"); /* Substitua pelo caminho correto da imagem */
  background-size: cover; /* Ajusta a imagem de fundo para cobrir toda a área */
  background-position: center; /* Centraliza a imagem de fundo */
  background-repeat: no-repeat; /* Garante que a imagem não se repita */
  background-attachment: fixed; /* Fixa a imagem de fundo ao rolar a página */
  text-align: center;
  color: #ffffff; /* Cor do texto */
  position: relative;
  overflow: hidden;
  line-height: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}


.hero-section-01::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    255,
    255,
    255,
    0.4
  ); /* Efeito de sobreposição transparente */
  z-index: 1;
}

.hero-content-01 {
  position: relative;
  z-index: 2; /* Garantir que o texto fique acima da camada de sobreposição */
  max-width: 90%; /* Limita a largura do conteúdo para evitar que ultrapasse as margens */
}

.hero-content-01 h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content-01 p {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 30px;
}

.hero-button-01 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #9f0726;
  text-decoration: none;
  border: 2px solid #9f0726;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.hero-button-01:hover {
  background-color: #9f0726;
  color: #fff;
}


.course-container {
  background-image: url("/src/img/banner.jpg");
  border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-wrap: wrap;
            max-width: 800px;
            overflow: hidden;
            
  
}

.text-content {
  padding: 20px;
  flex: 1;
}

.text-content h1 {
  font-size: 24px;
  margin: 0 0 10px;
}

.text-content h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
}

.text-content p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 20px;
}

.text-content .features {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}

.text-content .features span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.text-content .cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #d8a33a;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.image-content {
  flex: 1;
  background-image: url('/src/img/1.jpg');
  background-size: cover;
  background-position: center;
}

.features i {
  font-size: 14px;
}

/* Rodapé */
.footer {
  background-color: #fff;
  color: #9f0726;
  padding: 10px;
  border-top: 5px solid #9f0726;
  
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* Permite que os itens se reorganizem em telas menores */
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 300px; /* Ajuste flexível para cada seção do rodapé */
  margin: 10px;
}

.footer-logo {
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}
.social-icn {
  display: flex;
  justify-content: left; /* Centraliza os ícones */
  gap: 10px; /* Espaçamento entre os ícones */
  margin-top: 10px;
}

.social-icn a {
  display: inline-block;
  width: 40px;
  height: 40px;
  
}

.social-icn img {

  width: 70%;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icn img:hover {
  transform: scale(1.1); /* Aumenta ligeiramente o ícone ao passar o mouse */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Adiciona sombra */
}

.quick-links ul {
  list-style: none;
  padding: 0;
}

.quick-links ul li {
  margin: 10px 0;
}

.quick-links ul li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.quick-links ul li a:hover {
  color: #9f0726;
}

.contact-us p {
  margin: 10px 0;
  color: #333;
}

.contact-us a {
  color: #333; /* Cor do texto para combinar com o design */
  text-decoration: none; /* Remove o sublinhado padrão */
  transition: color 0.3s ease-in-out;
}


.footer-bottom {
  text-align: center;
  padding: 2px; 
  background-color: #450413;
  color: #fff;
  margin-top: 10px;
}
